# 环境配置文件
.env
.env.*

# Composer依赖目录
vendor/
composer.phar

# 缓存、日志上传目录
writable/
public/uploads/

# 系统无关文件
*.log
*.tmp
.DS_Store
Thumbs.db

# IDE配置
.idea/
.vscode/
*.sublime-*

# 数据库备份（按需保留，不需要就打开下面注释）
# *.sql